body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (min-width: 600px) {
    .profile {
        width: 600px;
        margin: 60px auto;
        display: flex;
        gap: 40px;
        transition: .5s;
    }

    .user {
        height: 230px;
        width: 230px;
        object-fit: cover;
        border-radius: 24px;
        transition: .5s;
    }

    .user:hover {
        border-radius: 50%;
        transform: rotate(-10deg);
        height: 180px;
        width: 180px;
        margin-left: 100px;
    }

    .btn {
        background-color: black;
        color: white;
        padding: 16px 30px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        transition: .5s;
    }
}

@media (max-width: 599px) {
    .profile {
        text-align: center;
        margin: 60px auto;
        transition: .5s;
    }

    .user {
        height: 140px;
        width: 140px;
        object-fit: cover;
        border-radius: 50%;
        transition: .5s;
    }

    .btn {
        background-color: rgb(255, 0, 0);
        color: white;
        padding: 16px 30px;
        border: none;
        border-radius: 80px;
        font-size: 16px;
        transition: .5s;
    }
}




.demo {
    height: 100px;
    width: 100px;
    background-color: orangered;
    margin-top: 100px;
    animation-name: msd;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes msd {
    to {
        transform: rotate(360deg);
        margin-left: 700px;
        background-color: blueviolet;
        border-radius: 50%;

    }
}



.loader {
    width: 40px;
    height: 40px;
    border: 2px solid #e3e3e3;
    margin: 280px auto;
    border-top: 2px solid black;
    border-radius: 50%;
    animation-name: loader;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}